<h1> Seja Bem-Vindo! </h1>
<h3> <%= date_br(Date.today) %> </strong> </h3>
<hr>

<!-- O sinal de igual exibe o conteúdo Ruby na página -->

<p> A soma é: <%= 1 + 1 %> </p>
<p> Nome de trás pra frente <%= "Raphael".reverse %> </p>

<!-- Sem o sinal de igual não aparece o conteúdo entre a marcação -->
<% 
    #isso não será exibido
    a = "Variável escondida" 
%>

<p> Exibindo conteúdo da variável 'a': <strong> <%= a %> </strong> </p>
<p> Data: <strong> <%= Date.today %> </strong> </p>
<p> Data formatada: <strong> <%= Date.today.strftime("%d/%m/%Y")%> </strong> </p>
<p> Data formatada através de Helper criado: <strong> <%= date_br(Date.today) %> </strong> </p>

<hr>
<h3> Acessando variáveis globais e de sessão por URL </h3>
<p> Variável definida no código <strong> <%= @meu_nome %> </strong>. </p>

<p> O curso digitado na URL foi <strong> <%= @meu_curso %> </strong> e o nível é <strong> <%= @meu_nivel %> </strong>. </p>