<h1>Seja Bem-Vindo!</h1>
<p>
    Raphael
</p>
<!-- O sinal de igual exibe o conteúdo Ruby na página -->
<p>A soma é: <%= 1 + 1 %> </p>
<p>Nome de trás pra frente <%= "Raphael".reverse %></p>

<!-- Sem o sinal não aparece o conteúdo entre a marcação -->
<% a = "Variável" %>
<p> Exibindo conteúdo da variável a: <%= a %> </p>
<p> Dia de hoje: <%= Date.today %> </p>
<p> Dia de hoje formatado: <%= Date.today.strftime("%d/%m/%Y")%></p>
<p> Dia de hoje formatado 2: <%= date_br(Date.today) %></p>
<p> My name is <%= @nome %></p>
<!-- Helper: link_to -->
<ul>
    <li>
        <a href="/coins">Cadastro de Moedas </a>
    </li>
    <li>
        <%= link_to "Cadastro de Moedas", "/coins" %>
    </li>
    <li>
        <%= link_to "Cadastro de Moedas", coins_path %>
    </li>
</ul>