<!DOCTYPE html>
<html>
  <head>
    <title>CryptoWallet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <h3> Testando a página <i>application.html.erb</i> </h3>
    <hr> 
    <!-- Importando a página _menu.html.erb -->
    <%= render "welcome/menu" %>

    <hr>
    <%= yield %>

    <hr>
    <h1> RODAPÉ </h1>
  </body>
</html>
